* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2.5em;
}

.header--title {
  font-size: 1.25rem;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 2.5em;
}

.navbar li {
  list-style: none;
  margin: 0.5em;
  font-size: 1rem;
  font-weight: 540;
}

.section1 {
  background-image: url(images/blog-image-hero.png);
  background-size: cover;
  background-position: left;
  height: 760px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 50px;
  padding-left: 50px;
}

.section1-title {
  font-size: 2.5rem;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.date {
  font-size: 1rem;
}

.paragraph {
  font-size: 1rem;
  width: 578px;
}

.section2 {
    margin: 2.1875em 1.875em;
    margin-left: 2.8125em;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 2.375em;
    margin-right: 0.625em;
}

.card  img{
  margin-bottom: 0.625em;
}

.card div {
    margin-bottom: 0.7857em;
    font-size: 0.875rem;
}

.card h1 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
    width: 315px;
}

.view {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 60px;
}